<% STYLE_COUNT.times do |i| %>
  <div class="center <%= STYLES[i] %>">
    <%= button_to 'Delete', object, method: :delete, data: { confirm: 'Are you sure?' }, class: FORM_BUTTONS[i] %>
  </div>
<% end %>
