<footer class="footer">
  <small>
    <a href="http://mp9999.no-ip.biz/">Emily's Edibles by I'mAbacus</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to 'About',   about_path %></li>
      <li><%= link_to 'Contact', contact_path %></li>
      <li><a href="http://mp9999.no-ip.biz/">News</a></li>
    </ul>
  </nav>
</footer>
